@page
@using Microsoft.EntityFrameworkCore
@model InternetAssignment.Pages.ProductsModel
@{
	 ViewData["Title"] = "Catalog Page";
    Layout = "_Layout";
}

<section class="catalog_section">

            @if(User.IsInRole("Admin"))
{
    <div>
        <a asp-page="AdminProducts">Add New Products</a>
    </div>
}

    <div class="search_box">
      <input class="search_txt" type="text" name="" placeholder="For example: Geforce gtx 2080">
      <a class="search_button" href="#"><img  class="search_img" src="/images for design/search.png" alt=""></a>
    </div>
    <div class="catalog_products">



@foreach (var Product in @Model.Products)
{ 
      <div class="item">        
        <div class="img_block">            
          <a asp-page="FlexProduct" asp-route-id="@Product.ProductId">             
            <img src="../images for design/@Product.ProductImage" class="item_img">
          </a>
        </div>        
        <h1 class="item_h1">@Product.ProductName</h1>
        <p class="item_p">@Product.ProductDescription</p>
        <div class="item_price">£@Product.ProductPrice</div>
        <form asp-page="/ShoppingCart" asp-page-handler="Add" method="post">
            <input type="hidden" name="productId" value="@Product.ProductId" />
            <input type="number" name="quantity" value="1" />
            <button class="item_button" type="submit">Add to cart</button>
        </form>
        
        @if(User.IsInRole("Admin"))
                {
                    <div>
                    <a class="btn btn-sm btn-danger order-button float-right" asp-page="/UpdateProduct" asp-route-id=@Product.ProductId>Update</a>
                        <div>
                            <a asp-page="DeleteProduct" asp-route-id="@Product.ProductId" class="btn btn-sm btn-danger">Delete</a>
                        </div>                                   
                    </div>
                }

        </div>      
}
    </div>

  </section>

  